/* <style>
.button{
    background-color: rgb(231, 15, 15);
}
label{
    background-color: rgb(25, 209, 19);
}
#labelNames{
    background-color: aqua;
}

/* *{
    text-align: center;
    background-color: beige;
} */
/* </style> */ 